@model ShopTARge24.Models.Kindergartens.KindergartenCreateUpdateViewModel

@if (Model.Id.HasValue)
{
    <h1>Update</h1>
}
else
{
    <h1>Create</h1>
}


<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="UpdatedAt" type="hidden" />

        <div class="form-group row">
            <label asp-for="GroupName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="GroupName" class="form-control" id="GroupNameInput" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ChildrenCount" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ChildrenCount" class="form-control" id="ChildrenCountInput" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="KindergartenName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="KindergartenName" class="form-control" id="KindergartenNameInput" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="TeacherName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="TeacherName" class="form-control" id="TeacherNameInput" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Files" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <div class="custom-file">
                    <input class="form-control" asp-for="Files" multiple type="file" />
                </div>
            </div>
        </div>

        @foreach (var images in Model.Image)
        {
            <partial name="_Images" model="images" />
            <input asp-action="removeImage" asp-controller="kindergartens" asp-route-imageId="@images.ImageId" type="submit" class="btn btn-success" value="Remove Image" id="RemoveImageInput" />
        }

        @if (Model.Id.HasValue)
        {
            <input asp-action="update" asp-controller="kindergartens" type="submit" class="btn btn-success" value="Update" id="UpdateButtonAction" />
        }
        else
        {
            <input asp-action="create" asp-controller="kindergartens" type="submit" class="btn btn-success" value="Create" id="CreateButtonAction" />
        }

        <a asp-action="Index" asp-controller="kindergartens" class="btn btn-success" id="BackButtonAction">Back</a>
    </form>
</div>