@model ShopTARge24.Models.ChuckNorris.ChuckNorrisRandomeViewModel

<h1>Search a Joke</h1>

<div class="container">
    <form method="post">
        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <button asp-controller="ChuckNorris" asp-action="Randome" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>