
<p>
    <a class="btn btn-primary" href="@Url.Action("Joke", "ChuckNorris")">
        Get a random joke
    </a>
    &nbsp;or&nbsp;
    <a class="btn btn-outline-secondary"
       href="https://api.chucknorris.io/jokes/random"
       target="_blank" rel="noopener">
        open API directly
    </a>
</p>